<%= simple_form_for [@task.project, task], 
    html: { class: "card vertical_form col-lg-12 col-md-8 col-sm-12 p-4 flex-height" } do |form| %>
    <%# <div class="card card-body bg-light"> %>
        <%= form.input :body, as: :text, wrapper_html: { class: "col-md-12 col-sm-11" } %>
        <%= form.input :status, prompt: "Select status", collection: [:todo, :on_progress, :completed] %>
        <%# <%= form.collection_select(:user_ids, User.all, :id, :name, {}, multiple: true, size: User.all.length, class: "ms-2") %>
        <%= form.button :submit %>
    <%# </div> %>
<% end %>