<%= turbo_stream_from "projects" %>
<div class="d-flex justify-content-between mb-2">
    <%= link_to "12 view", projects_path(limit: 12), class: "nav-link py-2" %>
    <%= link_to "New Project", new_project_path, class: "btn btn-primary text-white", data: { turbo_frame: "project_form" } %>
</div>
<small>
    <%== pagy_info(@pagy, item_name: "Project".pluralize(@pagy.count)) %>
</small>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <%= form_with url: "", method: :get, class: "d-flex col-12", data: { turbo_frame: "projects", turbo_action: "advance" } do |f| %>
            <%= f.search_field :search, value: params[:search], class: "form-control col-12", placeholder: "Search Project" %>
        <% end %>
    </div>
</nav>
<%= turbo_frame_tag Project.new %>
<%= turbo_frame_tag "project_form" do %>
    <% if @projects.none? %>
        <%= render "empty_state" %>
    <% end %>
    <%= render @projects %>
    <%== pagy_bootstrap_nav(@pagy) %>
<% end %>