<h3>Project List</h3>
<%= turbo_stream_from "projects" %>

<%= turbo_frame_tag "project_form" do %>
    <% if @projects.none? %>
        <%= render "empty_state" %>
    <% else %>
        <%= link_to "New Project", new_project_path, class: "btn btn-primary text-white", data: { turbo_frame: "project_form" } %>
    <% end %>
<% end %>

<%= turbo_frame_tag "projects" do %>
    <%= render @projects %>
<% end %>